@import "../../../../src/theme/variable.scss";
@import "../../../../src/style/general.scss";



.user-reset-link{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 0;
    padding: 0.5rem 0;
    cursor: pointer;
}



.checkbox-field{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p{
        font-size: 1rem;
        color: #fff;
        margin: 0;
        padding-left: 0.5rem;
    }
    input[type="checkbox"]{
        width: 1.5rem;
        height: 1.5rem;
    }
}
