.header {
    height: 7rem;
    // background-color: #FAACA8;
    // background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-color: #fcfcfc;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    @media (max-width: 480px) {
        height: 5rem;
    }

    .header-logo{
        display: flex;
        align-items: center;
        p:first-child{
            margin-right: 20px;
        }
    }

    .hm-icon{
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;

        img{
            width: 50px;
            margin-right:20px;

            @media(max-width:480px) {
                width: 35px;
            }
        }
    }

    .notification-block{
        button{
            border: none;
            background: transparent;
            img{
                width: 2.1rem;
                @media (max-width: 480px) {
                    width: 1.7rem;
                }
            }
        }
    }
}

.notification-user-login{
    display: flex;
    align-items: center;
    gap: 2rem;
    @media (max-width: 480px) {
        gap: 1rem;
    }
}

.user-profile{
    img{
    width: 2.4rem;
    }
}

.login-signup{

    button{
        background-color: #fff;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.5s;
        font-size: 0.9rem;

        &:hover{
            border: 1px solid #a3a3a3;
            background-color: #fae9e8;
        }
        @media (max-width: 480px) {
            padding: 0.5rem 0.9rem;
            font-size: 0.7rem;
        }
    }
}