.header {
    height: 7rem;
    background-color: #fff;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    // @media only screen and (max-width: $bp-smallest) {
    // 	flex-wrap: wrap;
    // 	height: 11rem;
    // 	align-content: space-around;
    // }

    .header-logo{
        display: flex;
        p:first-child{
            margin-right: 20px;
        }
    }

    .hm-icon{
        border: none;
        background-color: transparent;
        padding: 0;

        img{
            width: 50px;
            margin-right:20px;

            @media(max-width:480px) {
                width: 35px;
            }
        }
    }
}