//-------------------------------------------------------------------//
/////////////////////          Global Sass        /////////////////////
//-------------------------------------------------------------------//

@import "../../src/theme/variable.scss";
@import "mixin.scss";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
  p,
  li,
  span {
    margin: 0;
    padding: 0;
    line-height: normal;
  }
}

////////////////////////////////////
///////////// BUTTON ///////////////
////////////////////////////////////

.btn-common{
    background-color: transparent;
    border: none;
    height: 2.5rem;
    background-color: #943bb0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40rem;
    padding: 10px;
    transition: all 0.5s;
    &:hover{
        background-color: #8d24ae;
    }
}

.btn-underline{
    border: none;
    background-color: transparent;
    color: var(--boots-color-dark-tint);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    text-align: left;
    &:hover{
        color: #62666d;
    }
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#da22ff 0%,
		#9733ee 51%,
		#da22ff 100%
	);

	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  svg{
    width: 20px;
  }
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.btn {
  display: inline-block;
  // background-color: #5ec576;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s linear;

  @media (max-width: 450px) {
    padding: 0.7rem 2rem;
    font-size: 0.8rem;
  }
  &:hover{
    background-image: linear-gradient(19deg, #FAACA8 20%, #DDD6F3 100%);
  }
}


.edit-btn{
  border: 2px solid #FAACA8;
  background-color: transparent;
  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  @media (max-width: 480px) {
    padding: 0.1rem;
  }

  img{
    width: 1.5rem;
    margin-top: 2px;
  }
  &:hover{
    transform: scale(1.1);
  }
}


.btn-back{
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: var(--PrimaryMedium);
  cursor: pointer;
  background-color: #8d24ae;
  width: 4rem;
  border-radius: 10rem;
  color: #fff;
  margin: 1rem;

}

.btn-back-area{
	// margin: 1rem;
}


//scroll

// body {
//   overflow: hidden;
// }


//Login,register form


.form-area{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);


    h2{
        font-size: 2rem;
        color: var(--boots-color-dark-tint);
        margin: 0;
        font-family: var(--PrimaryBold);
    }

    h4{
        font-size: 1rem;
        color: var(--boots-color-dark-tint);
        margin: 0;
        font-family: var(--PrimaryMedium);
        text-align: center;
        padding: 0.5rem 1.2rem;

        @media only screen and (max-width: 480px) {
            .mb-nobreak{
                display: none;
            }
        }

    }

    .form-inner{
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        width: 20rem;

        input{
            height: 2.5rem;
            border: none;
            border-radius: 4px;
            font-size: 18px;
            padding: 0 10px;
            box-sizing: border-box;
            width: 100%;

            :focus{
                border: none;
            }
            &:focus-visible{
                outline: none;
            }
        }
    }
}

.form-input{
    position: relative;
}

.error-text{
    margin: 0;
    padding: 0;
    color: #f33f3f;
    position: absolute;
    font-size: 0.75rem;
    font-family: var(--PrimaryRegular);
}

.select-option-dropdown{
  select{
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 10px;
    &:focus-visible{
      outline: none;
    }
  }
}

.input-box{
  position: relative;
  .error-text{
    left: 0;
    bottom: -15px;
  }
  &.select-option-dropdown select{
    height: 36px;
  }
}



.height100 {
  height: 100%;
}
.margin-top-20 {
  margin-top: 20px;
}
.flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-item-center {
  align-items: center;
}
.float-right {
  float: right;
}


.check-input {
  cursor: pointer;
  position: relative;
  &:checked {
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--boots-color-dark-pink);
    }
  }
}

.chekbox-border {
  border: 1px solid var(--boots-color-slate-grey2);
  margin-right: 15px;
  border-radius: 5px;
  height: 32px;
  cursor: pointer;
  position: relative;
  justify-content: center;
  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &.activated {
    background-color: var(--boots-color-dark-pink);
    position: relative;
    &:before {
      z-index: 10;
      position: absolute;
      display: block;
      content: "\2713";
      left: 20px;
      bottom: 8px;
      transform: scale(1.5);
      width: 20px;
      height: 20px;
    }
  }
}

.checkbox-group {
  label {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &.dashed-border {
    border-bottom: 1px dashed var(--boots-color-dark-pink);
    margin-bottom: 10px;
  }
  &.dashed-border-top {
    margin-top: 20px;
    border-top: 1px dashed var(--boots-color-dark-pink);
    label {
      margin-top: 10px;
    }
  }
}


input[type="checkbox"],
input[type="radio"] {
  width: 30px;
  height: 30px;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid rgb(122, 46, 145);
  box-shadow: none;
  position: relative;
  &.check-input {
    border-radius: 50%;
  }
}


.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.164);
  background-color: #faaca86e;
  font-size: 2rem;
  color: var(--boots-color-dark-tint);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
      width: 5rem;
      background-color: #FAACA8;
      background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
      border-radius: 50%;
  }
}

.radius-dropdown {
  margin-top: 20px;
  position: relative;
  margin-bottom: 10px;
  .btn-radius {
    @extend .font18;
    width: 175px;
    height: 40px;
    background: var(--boots-color-slate-grey3);
    color: var(--boots-color-white);
    position: relative;
    border: 1.5px solid var(--boots-color-dark-pink);
    color: var(--boots-color-white);
    position: relative;
    border-radius: 4px;
  }
  .dropdown-toggle:after {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .radius-dropdown-list {
    position: absolute;
    border: 1px solid var(--boots-color-black);
    width: 175px;
    z-index: 20;
    max-height: 98px;
    overflow: scroll;
    .radius-list-item {
      width: 173px;
      height: 35px;
      background: var(--boots-color-slate-grey3);
      border: none;
      border-bottom: 1px solid var(--boots-color-black);
      color: var(--boots-color-white);
      @extend .font16;
    }
  }
}

//custom search button
.custom-search {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  .close-ic {
    position: absolute;
    right: 0px;
    height: 100%;
    i:before {
      font-weight: bold !important;
    }
    &:active {
      background: transparent;
    }
    &.auto-select-close {
      top: 0;
      height: 24%;
    }
  }
  &.text-ellipsis {
    input {
      padding-right: 30px;
      text-overflow: ellipsis;
    }
  }
}

.custom-search-input {
  width: 100%;
  border: 1px solid var(--boots-color-white);
  // border-right-width: 0;
  height: 36px;
  border-radius: 5px;

  padding: 2px 30px 2px 10px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  @extend .font14;

  &.with-border-00{
    border: 1px solid #9d31ef;
    width: 250px;
    height: 45px;


  }
}

.header-search{
  position: relative;

  @media (max-width: 480px) {
    position: absolute;
    top: 90px;
    z-index: 100;
  }

  svg{
    width: 25px;
    position: absolute;
    right: 5px;
    top: 10px;
    color: #9d31ef;
  }

}
// input:-internal-autofill-selected {
//   background-color: transparent;
// }


// Highlight

.highlight{
position: relative;
margin-left: 0.5rem;
  &::before{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    // background-image: linear-gradient(to top left, #39b385, #9be15d);
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  }
  &.error{
    // color: white;
    &::before{
      background-color: #f33f3f;
      background-image: none;
      // background-image: linear-gradient(19deg, #ff2216 0%, #ee172c 100%);

    }
  }
}


  /* MODAL WINDOW */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 2rem 7rem;
    box-shadow: 0 1rem 2rem rgba(105, 105, 105, 0.3);
    z-index: 1000;
    transition: all 0.5s;

    @media (max-width: 450px) {
      padding: 2rem 1rem 1rem;
      // padding-bottom: 1rem;
    }
    &.confrim{
      .modal__header {
        margin-bottom: 0;
        white-space: nowrap;
      }
      .green{
        background-color: green;
        height: 1rem;
        width: 100%;
        position: absolute;
        top: -1rem;
        left: 0;
      }
      .error-tag{
        background-color: #f33f3f;
        height: 1rem;
        width: 100%;
        position: absolute;
        top: -1rem;
        left: 0;
      }
      .btn--close-modal {
        right: 1rem;
        top: -0.5rem;
        @media (max-width: 450px) {
          right: 0.5rem;
          top: -0.5rem;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4d3;
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }

  .modal__header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    @media (max-width: 450px) {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }

  .modal__form {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: end;
    gap: 1.5rem;
  }

  .modal__form label {
    font-size: 1rem;
    font-weight: 500;
    @media (max-width: 450px) {
      font-size: 0.7rem;
      white-space: nowrap;
    }
  }

  .modal__form input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    @media (max-width: 450px) {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
    }
  }

  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
    @media (max-width: 450px) {
      top: 0;
      right: 0.2rem;
      font-size: 2rem;
    }
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }



///////////////////////
/// Tablet landscape///
///////////////////////

@media only screen and (max-width: 1191px) {

}

///////////////////////
/// Tablet portrait ///
///////////////////////

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}
