.side-bar{
    position: absolute;
    width: 0;
    background-color: #5a189a;
    height: 100vh;
    top: 0;
    overflow-x: hidden;
    &.active{
        width: 20rem;
        @media(max-width:480px) {
            width: 100%;
        }
    }

    .close-icon{
        img{
            max-width: 50px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

    }

    .side-items{
        padding: 4rem 0;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        max-width: 20rem;
        align-items:center;
        @media(max-width:480px) {
            max-width: 100%;
        }
    }

    button{
        width: 10rem;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}