/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

MAIN COLOR : #087f5b
GREY COLOR : #343a40 */


footer{
    background-color: #000;
    color: #fff;
    height: 12rem;
	padding: 0 2rem;
	margin-top: 120px;
}

.footer-area{
	display: flex;
	justify-content: space-between;
}

.footer-list{
    padding: 2rem 0;
    border-bottom: 1px solid currentColor;
    margin-bottom: 2rem;

	@media (max-width: 480px) {
		margin-bottom: 1rem;
	}
}

footer ul{
display: flex;
justify-content: space-between;
width: 35%;
list-style: none;
font-size: 1.2rem;
font-weight: 300;

@media (max-width: 900px) {
	width: 50%;
	font-size: 0.9rem;
}

@media (max-width: 480px) {
	width: 65%;
	font-size: 0.8rem;
}

}

footer ul li{
    border-bottom:2px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
}


footer ul li:hover{
    color: #dadada;
    border-bottom: 2px solid #dadada;
}

.copy-right{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

	@media (max-width: 480px) {
		font-size: 0.8rem;
	}
}

.foot-logo{
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s;

	@media (max-width: 480px) {
		width: 1.5rem;
		margin-right: 0.4rem;
		margin-top: 1rem;
	}
}
.foot-logo:last-child{
    margin-right: 0;
}
.foot-logo:hover{
   transform:rotate(15deg) scale(1.2);
}

.footer-logo-icons{
	display: flex;
	justify-content: flex-end;
}